<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand">Tela de Menu</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Enviar</button>
        </form>
    </div>
</nav>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem - Vindo ao Sistema</h1>
</div>
