<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zoologico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Zoologico.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex">
            <div class="p-2 ">
                <nav class="nav flex-column shadow p-3 mb-5 rounded d-flex align-items-start flex-column bd-highlight mb-3" >
                    <a class="nav-link text-dark p-2 bd-highlight" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link text-dark p-2 bd-highlight" asp-area="" asp-controller="Habitat" asp-action="Select">Habitat</a>
                    <a class="nav-link text-dark p-2 bd-highlight" asp-area="" asp-controller="Animal" asp-action="Select">Animal</a>
                    <a class="nav-link text-dark p-2 bd-highlight" asp-area="" asp-controller="Prontuario" asp-action="Select">Prontuários</a>
                    <a class="nav-link text-dark p-2 bd-highlight" asp-area="" asp-controller="Prontuario" asp-action="Select">Busca</a>
                    <a class="nav-link text-dark p-2 bd-highlight" asp-area="" asp-controller="Prontuario" asp-action="Select">Admin</a>
                    
                    <br />
                    <a class="nav-link text-dark mt-auto p-2 bd-highlight" asp-area="" asp-controller="Home" asp-action="Index">Sair</a>
                </nav>
            </div>
            <div class="p-2 flex-grow-1">
                <main role="main" class="pb-3">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 bd-highlight"></div>
                        <div class="p-2 flex-grow-1">@RenderBody()</div>
                    </div>
 
                </main>
            </div>
       </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
