<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zoologico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Zoologico.styles.css" asp-append-version="true" />
    
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-light shadow-lg rounded">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
                    <div class="pb-4 align-items-center text-black">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="80" height="80" class="rounded-circle">
                            <br />
                            <h3 class="d-none d-sm-inline mx-1">Nome</h3>
                    </div>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2 bd-highlight" asp-controller="Home" asp-action="Index">
                                Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2 bd-highlight" asp-controller="Habitat" asp-action="Select">
                                Habitat
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2 bd-highlight" asp-controller="Animal" asp-action="Select">
                                Animal
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2 bd-highlight" asp-controller="Prontuario" asp-action="Select">
                                Área médica
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2 bd-highlight" asp-controller="Home" asp-action="Index">
                                Admin
                            </a>
                        </li>
                    </ul>
                    <hr>
                        <a class="nav-link text-dark p-2 bd-highlight" asp-area="Compra" asp-controller="Ingresso" asp-action="Index">
                            Logout
                        </a>
                </div>
            </div>
            <div class="col py-3 ">
                <main role="main" class="pb-3">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 bd-highlight"></div>
                        <div class="p-2 flex-grow-1">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
