<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand">Prontuário</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
        </form>
    </div>
</nav>

<br />