<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand">Animal</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Animal
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" asp-controller="Animal" asp-action="Insert">Cadastrar</button></li>
                    <li><button class="dropdown-item" asp-controller="Animal" asp-action="Select">Consultar</button></li>
                </ul>
            </div>
        </form>
    </div>
</nav>

<br />