@model Zoologico.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4><input asp-for="NomeAnimal" class="form-control" /></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAnimal" class="control-label"></label>
                <input asp-for="IdAnimal" class="form-control" />
                <span asp-validation-for="IdAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeHabitat" class="control-label"></label>
                <input asp-for="NomeHabitat" class="form-control" />
                <span asp-validation-for="NomeHabitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoAnimal" class="control-label"></label>
                <textarea asp-for="DescricaoAnimal" class="form-control"></textarea>
                <span asp-validation-for="DescricaoAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObsProntuario" class="control-label"></label>
                <textarea asp-for="ObsProntuario" class="form-control"></textarea>
                <span asp-validation-for="ObsProntuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
